<section id="about" class="flex flex-col w-full gap-5 md:-mt-10">
  <h2 class="">About Me</h2>
  <p class="md:pl-10 pl-3">
    I am passionate about bringing ideas to life, transforming them into high-quality, scalable apps and websites. My approach focuses on functionality, quality and user experience, always seeking excellence in every project I undertake.
    <br />
    <br />
     My goal is to promote the growth of emerging businesses and startups through the benefits of information technologies, building efficient and scalable digital solutions that contribute to achieving their goals. Additionally, I feel committed to using my skills to develop technological tools that benefit society.
  </p>
</section>
