<section id="experience" class="">
  <h2>Experience</h2>
  <article class="flex pl-3 md:pl-10 gap-3 md:gap-7 mt-5">
    <div class="dark:bg-[#06C300] bg-[#31633D] text-firstLight">.</div>
    <div class="flex flex-col">
      <h3><span class="font-semibold">Fullstack Developer</span> - KaroKids.</h3>
      <i>January 2024 – March 2024. [Colombia] [Remote] [eCommerce]</i>
      <p>
        I am dedicated to the development of an eCommerce for a renowned children's clothing store in Colombia, working closely with a multidisciplinary team to provide customers with an exceptional shopping experience. From frontend design and development to backend implementation, I am responsible for creating a secure, efficient and highly functional platform, driving the growth and success of the online store in the competitive digital market.
      </p>
    </div>
  </article>
 <article class="flex pl-3 md:pl-10 gap-3 md:gap-7 mt-5">
    <div class="dark:bg-[#06C300] bg-[#31633D] text-firstLight">.</div>
    <div class="flex flex-col">
      <h3><span class="font-semibold">Teaching Assistant</span> - SoyHenry.</h3>
      <i>December 2023 – Present. [Argentina] [Remote] [Bootcamp]</i>
      <p>
        • Coordinate a group of students to achieve integration to the study group. <br>
        • Guide students in the first steps of the course <br>
        • Assist to solve exercises and promote group collaboration (Pair Programming) <br>
        • Propose ideas to improve the Bootcamp processes
      </p>
    </div>
  </article>
  <article class="flex pl-3 md:pl-10 gap-3 md:gap-7 mt-5">
    <div class="dark:bg-[#06C300] bg-[#31633D] text-firstLight">.</div>
    <div class="flex flex-col">
      <h3><span class="font-semibold">Fullstack Development</span> - Ares WebDev.</h3>
      <i>November 2023 – Present. [Argentina] [Remote] [Freelance]</i>
      <p>
        Carrying out web application projects and designs on a Freelance basis for personal projectors and simple jobs in order to improve practice and gain experience
      </p>
    </div>
  </article>

  <article class="max-w-full grid place-items-center mt-7">
    <div
      class="flex items-center border dark:border-[#06C300] border-[#31633D] gap-4 md:gap-8 justify-center p-3 px-4 max-w-full rounded-md">
      <p class="font-semibold text-md w-fit md:text-xl">Take a look at my resume 💼</p>
      <img width="28px" src="../icons/arrow.svg" alt="Resume Arrow"/>
      <a
        href="/Resume.pdf"
        target="_blank">
        <img
          width="127.52"
          height="160"
          class="h-auto object-contain shadow-md dark:shadow-slate-200 dark:shadow-sm transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-150"
          src="/curriculum.webp"
          alt="Hoja de vida"
        />
      </a>
    </div>
  </article>
</section>
