<section id="experience" class="">
  <h2>Experience</h2>
  <article class="flex pl-3 md:pl-10 gap-3 md:gap-7 mt-5">
    <div class="bg-[#06C300] text-firstLight">.</div>
    <div class="flex flex-col">
      <h3><span class="font-semibold">Fullstack Development</span> in Ares WebDev.</h3>
      <i>November 2023 – Present. [Argentina] [Remote] [Freelance]</i>
      <p>
        Carrying out web application projects and designs on a Freelance basis for personal projectors and simple jobs in order to improve practice and gain experience
      </p>
    </div>
  </article>

  <article class="max-w-full grid place-items-center mt-7">
    <div
      class="flex items-center border border-[#06C300] gap-4 md:gap-8 justify-center p-3 px-4 max-w-full rounded-md">
      <p class="font-semibold text-md w-fit md:text-xl">Take a look at my resume 💼</p>
      <img src="../icons/arrow.svg" />
      <a
        href="https://drive.google.com/file/d/1f4LA7AXF1VoX3_uAUBRYjKppDpQZERLg/view?usp=sharing"
        target="_blank">
        <img
          width="127.52"
          height="160"
          class="h-auto object-contain shadow-md dark:shadow-slate-200 dark:shadow-sm transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-150"
          src="/curriculum.png"
          alt="Hoja de vida"
        />
      </a>
    </div>
  </article>
</section>
