<section id="footer" class="w-full grid place-items-center mb-10 text-[10px] text-center md:text-sm md:m-0">
  <p>"Every great developer you know got there by solving problems they were unqualified to solve until they actually did it." - Patrick McKenzie</p>
</section>
