---

---

<section id="home" class="w-full flex flex-col justify-between items-center py-9 md:py-14">
  <article class="min-w-min rounded-full bg-green mb-10">
    <img class="w-44 rounded-full" width="300" height="312.4" src="/profile.svg" alt="" />
  </article>
  <article class="items-center flex flex-col">
    <h1 class="text-2xl md:text-3xl">
      Hi, i'm <span class="font-[1000]">Thiago Martins</span>
    </h1>
    <span
      class="text-transparent bg-clip-text dark:bg-[#06C300] bg-[#31633D] text-center text-[50px] [line-height:1.3] md:text-6xl font-black"
      >Fullstack Developer</span
    >
    <p class="max-w-xs text-center md:text-center md:max-w-md w-full mt-3 text-md md:text-lg">
      I create innovative and efficient web solutions that will help you boost your business.
    </p>
    <p class="text-xl font-bold">¿What project do you have in mind?</p>
    <div class="flex gap-5 mt-6">
      <a
        href="https://www.linkedin.com/in/thiago-javier-martins/"
        target="_blank"
        rel="noopener noreferrer">
        <button
          class="flex items-end px-2 py-1 gap-2 rounded-lg dark:bg-[#06C300] bg-[#31633D] text-slate-950 dark:hover:bg-opacity-60 hover:bg-opacity-60 font-semibold transition-all ease-linear hover:scale-[.97]"
          ><img class="" width="28" height="28" src="/icons/linkedin.svg" alt="Link to LinkedIn" />LinkedIn</button
        >
      </a>
      <a href="mailto:thiagodev.martins@gmail.com" target="_blank" rel="noopener noreferrer">
        <button
          class="flex items-end px-2 py-1 gap-2 rounded-lg dark:bg-[#06C300] bg-[#31633D] text-slate-950 dark:hover:bg-opacity-60 hover:bg-opacity-60 font-semibold transition-all ease-linear hover:scale-[.97]"
          ><img
          class=""
            width="28"
            height="28"
            src="icons/contact.svg"
            alt="Mailto Icon"
          />Email</button
        >
      </a>
      <a href="http://github.com/ThiagoJMartins" target="_blank" rel="noopener noreferrer">
        <button
          class="flex items-end px-2 py-1 gap-2 rounded-lg dark:bg-[#06C300] bg-[#31633D] text-slate-950 dark:hover:bg-opacity-60 hover:bg-opacity-60 font-semibold transition-all ease-linear hover:scale-[.97]"
          ><img
          class=""
            width="28"
            height="28"
            src="/icons/github.svg"
            alt="Link to GitHub"
          />GitHub</button
        >
      </a>
    </div>
  </article>
</section>
